{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<div id="matchName">&nbsp;</div>
<div id="alliance">
  <div class="scoring-section">
    <div class="scoring-header">
      <div>&nbsp;</div>
      <div>Leave</div>
      <div>Endgame</div>
    </div>
    {{range $i := seq 3}}
      <div>
        <div id="team{{$i}}" class="team robot-field"></div>
        <div id="leaveStatus{{$i}}" class="boolean robot-field" onclick="handleClick('leaveStatus', {{$i}});">
          <div class="value"></div>
        </div>
        <div id="endgameStatus{{$i}}" class="endgame-status robot-field"
          onclick="handleClick('endgameStatus', {{$i}});">
          <div class="value"></div>
        </div>
      </div>
    {{end}}
  </div>
  <header class="section-header">Algae</header>
  <div id="algae" class="scoring-section">
    <div class="scoring-section">
      <div>
        <div>&nbsp;</div>
        <div class="scoring-header">Processor</div>
        <div class="scoring-header">Net</div>
      </div>
      <div>
        <div class="scoring-period">Auto</div>
        {{template "algae" dict "period" "auto" "location" "Processor"}}
        {{template "algae" dict "period" "auto" "location" "Net"}}
      </div>
      <div>
        <div class="scoring-period">Teleop</div>
        {{template "algae" dict "period" "teleop" "location" "Processor"}}
        {{template "algae" dict "period" "teleop" "location" "Net"}}
      </div>
    </div>
  </div>
  <div id="coral">
    <header class="section-header">Coral</header>
    <div class="scoring-section">
      <div>
        <div>&nbsp;</div>
        <div class="scoring-header">Level 4</div>
        <div class="scoring-header">Level 3</div>
        <div class="scoring-header">Level 2</div>
        <div class="scoring-header">Level 1</div>
      </div>
      <div>
        <div class="scoring-period">Auto</div>
        {{template "coral" dict "period" "auto" "level" "4"}}
        {{template "coral" dict "period" "auto" "level" "3"}}
        {{template "coral" dict "period" "auto" "level" "2"}}
        {{template "coral" dict "period" "auto" "level" "1"}}
      </div>
      <div>
        <div class="scoring-period">Teleop</div>
        {{template "coral" dict "period" "teleop" "level" "4"}}
        {{template "coral" dict "period" "teleop" "level" "3"}}
        {{template "coral" dict "period" "teleop" "level" "2"}}
        {{template "coral" dict "period" "teleop" "level" "1"}}
      </div>
    </div>
</div>
<div id="commitMatchScore">
  <button type="button" class="btn btn-info" onclick="commitMatchScore();">
    Commit Final Match Score
  </button>
</div>
<div id="postMatchMessage">Waiting for the next match...</div>
{{end}}
{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.Alliance}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "coral"}}
<div class="scoring">
  <div class="number-button minus" onclick="handleClick('{{.period}}Coral{{.level}}Minus');">-</div>
  <div id="{{.period}}Coral{{.level}}"><div class="value"></div></div>
  <div class="number-button plus" onclick="handleClick('{{.period}}Coral{{.level}}Plus');">+</div>
</div>
{{end}}

{{define "algae"}}
<div class="scoring">
  <div class="number-button minus" onclick="handleClick('{{.period}}Algae{{.location}}Minus');">-</div>
  <div id="{{.period}}Algae{{.location}}"><div class="value"></div></div>
  <div class="number-button plus" onclick="handleClick('{{.period}}Algae{{.location}}Plus');">+</div>
</div>
{{end}}